* {
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', sans-serif;
}
body {
    background-color: #232A61;
    
}
.box {
    width: 265px;
    height: 175px;
  padding: 100px;
  margin: 30px;
 background-color: #1B1938;
 position: relative;
  left: 230px;
  top: 150px;
  border-radius: 5px;
  z-index: 999;
}
.header {
    color: white;
    position: relative;
    bottom: 50px;
    right: 20px;
 text-align: left;
 font-size: 25px;
}
.info {
    color: hsla(0, 0%, 100%, 0.75);
    position: relative;
    bottom: 25px;
    right: 20px;
   
    font-size: 13px;
    line-height: 1.6;
}
.list1 {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    list-style: none;
    color: white;
}
.list1-text {
    font-size: 20px;
    font-family: 'Lexend Deca', sans-serif;
    position: relative;
    top: 27px;
    right: 40px;
}
.list2 {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    list-style: none;
}
.list2-text {
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 10px;
    position: relative;
    top: 25px;
    right: 43px;
}
.img {
    z-index: 1000;
    position: absolute;
    top: 181px;
    right: 350px;
}
img{
    width: 452px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    filter: opacity(0.70);
}